* {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.box {
  width: 50%;
  height: 500px;
  margin: 10px auto 0;
}
.question {
  background: green;
  color: white;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.answer {
  width: 90%;
  margin: 10px auto;
  height: 300px;
  position: relative;
}
#no {
  background: red;
  width: 50px;
  text-align: center;
  padding: 5px;
  border: solid 1px white;
  border-radius: 5px;
  color: wheat;
  transition: all 0.25s;
}
.no {
  position: absolute;
  top: 50px;
  left: 100px;
}
.yes:hover {
  cursor: pointer;
}
.yes {
  background: green;
  width: 50px;
  text-align: center;
  padding: 5px;
  border: solid 1px white;
  border-radius: 5px;
  color: wheat;
  position: absolute;
  top: 50px;
  left: 200px;
}
.yes:hover {
  cursor: pointer;
}

.left {
  position: absolute;
  top: 50px;
  left: 0;
}
.up {
  position: absolute;
  top: 0;
  left: 0;
}
.down {
  position: absolute;
  top: 200px;
  left: 0;
}
.bottom {
  position: absolute;
  top: 300px;
  left: 150px;
}
.right {
  position: absolute;
  top: 200px;
  left: 300px;
}
.center {
  position: absolute;
  top: 100px;
  left: 200px;
}
.rightTop {
  position: absolute;
  top: 0;
  left: 300px;
}

/*  left up down right center */
