/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
  opacity: 0.8;
}
.nav-wrapper ul li a:hover {
  opacity: 1;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* -------------Main Style--------------- */
.model {
  font-size: 0.85em;
}
.product-name {
  font-weight: 700;
  font-size:clamp(36px,4vw,56px);
}
.brief-description {
  font-size: 2em;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul {
  display: flex;
  justify-content: center;
}
.links-wrapper ul li {
  margin-right: 30px;
}
.links-wrapper a {
  text-decoration: none;
}
.links-wrapper a:hover {
  color: black;
}
.links-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/*------------- Second Section  --------*/

.second-section {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 60px 20px;
}
.second-section .links-wrapper a:hover {
  color: white;
  opacity: 0.8;
}
.price-wrapper {
  font-size: 16px;
  opacity: 0.6;
}
.discription-wrapper {
  font-size: 25px;
}

/*------------- Third Section  --------*/
.third-section {
  background-image: url("../images/home/iphone11-bg.jpg");
  height: 580px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}
/*------------- Fourth Section  --------*/

.fourth-section .left-side-wrapper {
  background-image: url("../images/home/watch-series-5.jpg");
}
.fourth-section .discription-wrapper {
  width: 350px;
  font-size: 18px;
}

.left-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48.5%;
  padding-top: 54px;
}

.fourth-section .right-side-wrapper {
  background-image: url("../images/home/apple-card.jpg");
}
.right-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48.5%;
  padding-top: 54px;
}

/*------------- Fifth Section  --------*/

.fifth-section .left-side-wrapper {
  background-image: url("../images/home/apple-tv-background.jpg");
}

.fifth-section .right-side-wrapper {
  background-image: url("../images/home/air-pods.jpg");
}
.fifth-section .right-side-wrapper {
  background-size: initial;
  background-position: bottom;
  background-color: black;
  color: white;
}

.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.tvshow-logo-wraper {
  margin: 170px 0;
}
.fifth-section .right-side-wrapper .links-wrapper a:hover {
  color: white;
  opacity: 0.8;
}

/*------------- Sixth Section  --------*/

.sixth-section .left-side-wrapper {
  background-image: url("../images/home/macbook-pro.jpg");
  background-size: initial;
  background-position: bottom;
  background-color: #fafafa;
}

.sixth-section .right-side-wrapper {
  background-image: url("../images/home/new-ipad.jpg");
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
